<meta property="og:locale" content="es_ES">
<meta property="og:url" content="{{site.url}}{{page.url}}">
<link rel="canonical" href="{{site.url}}{{page.url}}">
<meta property="og:site_name" content="Festival de cine Tantarantana">

{% if page.collection == "editions" %}
    <title>{{site.title}} - {{site.description}}/title>
    <meta property="og:title" content="{{site.title}} - {{site.description}}">
    <meta property="og:type" content="website">
    <meta name="og:description" content="{{ page.label }}">
    <meta name="description" content="{{ page.label }}">
    <meta property="og:image" content="{{ site.url }}/assets/images/logo-600.png"/>
{% elsif page.collection == "members" %}
    <title>{{page.label}} | {{site.title}} - {{site.description}}</title>
    <meta property="og:title" content="{{ page.labe l}} | {{ site.title }} - {{ site.description }}">
    <meta property="og:type" content="website">
    <meta name="og:description" content="{{ page.label }} | Conoce al jurado del Festival de cine Tantarantana">
    <meta name="description" content="{{ page.label }} | Conoce al jurado del Festival de cine Tantarantana">
    <meta property="og:image" content="{{ site.url }}/assets/images/members/{{ page.object-id }}.jpg"/>
{% elsif page.collection == "movies" %}
    <title>{{page.label}} | {{site.title}} - {{site.description}}</title>
    <meta property="og:title" content="{{ page.label }} | {{ site.title }} - {{ site.description }}">
    <meta property="og:type" content="article">
    <meta name="og:description" content="{{ page.synopsis | escape  }}">
    <meta name="description" content="{{ page.synopsis | escape  }}">
    <meta property="og:image" content="{{ page.filmaffinity.cover }}"/>
{% elsif page.collection == "series" %}
    <title>{{ page.label }} | {{site.title}} - {{site.description}}</title>
    <meta property="og:title" content="{{ page.label }} | {{ site.title }} - {{ site.description }}">
    <meta property="og:type" content="article">
    <meta name="og:description" content="{{ page.description | escape  }}">
    <meta name="description" content="{{ page.description | escape }}">
    <meta property="og:image" content="{{ site.url }}/assets/images/members/{{ page.member-id }}.jpg"/>
{% else %}
    <title>{{site.title}} - {{site.description}}</title>
    <meta property="og:title" content="{{site.title}} - {{site.description}}">
    <meta property="og:type" content="website">
    <meta name="og:description" content="Selección oficial y jurado de la {{site.description}} del Festival de cine Tantarantana">
    <meta name="description" content="Selección oficial y jurado de la {{site.description}} del Festival de cine Tantarantana">
    <meta property="og:image" content="{{ site.url }}/assets/images/logo-600.png"/>
{% endif %}	