---
---

@import "{{ site.theme }}";

$verticalMargin: 40px;
$horizontalMargin: 15px;

h2 {
	font-size: 28px;
}

h3 {
	font-size: 20px;
}

hr {
	height: 1px;
	background: rgba(255, 204, 0, 0.3);
}

@import "tantarantana_menu.scss";

/* ************************** */

#header {
	border: none;
	box-shadow: none;
	background: none;
	height: auto;
	position: static;
	text-align: center;
	margin-top: $verticalMargin;
}

.header--logo {
	max-width: 80%;
	max-height: 150px;
	object-fit: contain;
}

section {
	padding: 0;
	margin: $verticalMargin 0 $verticalMargin 0;

	#title {
		padding: 0;
		margin: 0 0 $verticalMargin 0;		
	}
}

/* ************************** */

.tantarantana--grid {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	column-gap: 15px;
	row-gap: 15px;
	width: 100%;
	padding: 0;
}

@media screen and (max-width: 600px) {
	.tantarantana--grid {
		grid-template-columns: 240px;
		justify-content: center;
	}
}

/* ************************** */

@import 'edition.scss';

/* ************************** */

@import 'movie_layout.scss';

/* ************************** */

.serie--movies {
	
}

.serie--movie {
	position: relative;
	height: 300px;
}

.serie--movie__cover {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.serie--movie--info {
	position: absolute;
	max-width: 75%;
	bottom: 0;
	right: 0;
	padding: 10px;
	background: url("/assets/images/nav-bg.gif");
}

.serie--movie--info__name {
	display: block;
}

@media screen and (min-width: 600px) {
	.serie--movie:nth-child(7):last-child {
		grid-column-start: 2;
	}
}

.serie--nomination__label {
	text-align: center;
}

/* ************************** */

.member__photo {
	margin-bottom: $verticalMargin;
	height: 350px;
	width: 100%;
	object-fit: contain;
}

/* ************************** */

.regulation--toc {
	list-style: none;
	text-align: center;
	margin-bottom: $verticalMargin;
	padding: 0;
}

/* ************************** */
#footer {
	padding: 40px;
	font-size: 0.9em;
	text-align: center;

	li {
		position: relative;
		display: inline-block;
		padding: 0 20px;
	}

	li:after, li:before {
		background-color: #fff;
		border-radius: 100%;
		content: '';
		display: block;
		margin: -1px 0 0 0;
		opacity: 0.5;
		position: absolute;
		right: 8px;
		top: 50%;
		height: 3px;
		width: 3px;
	}

	li:before {
		left: 5px;
	}
}

/* ************************** */

.editions--history {
	font-size: 2em;
}

.editions--history .tantarantana--menu {
	margin: 0;
}

/* ************************** */

@import 'ciff.scss';

/* ************************** */