---
---

@import "{{ site.theme }}";


body {
	background: url("/assets/images/background.svg"), #080808;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-blend-mode: overlay;
}

/* ************************** */
.serie--movies {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	column-gap: 15px;
	row-gap: 15px;
	width: 100%;
	padding: 0;

	@media screen and (max-width: 600px) {
		& {
			grid-template-columns: 320px;
		}
	}
}

.serie--movie {
	position: relative;
	height: 300px;

	&:last-child {
		grid-column-start: 2;
	} 
}

.serie--movie__cover {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.serie--movie--info {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
	background: url("/assets/images/nav-bg.gif") #353535;
}

.serie--movie--info__name {
	display: block;
}