---
layout: default
---

{{ page.name }}

<img class="member__photo" src="/assets/images/members/{{ page.object-id }}.jpg">

<h2>La entrevista</h2>

{{ content }}

<hr />

{% assign memberSeries = site.series | where:"member-id", page.object-id | sort: "edition-id" | reverse %}

<h2>Ediciones en Tantarantana</h2>

{% for memberSerie in memberSeries %}
	{% assign serieEdition = site.editions | where:"object-id", memberSerie.edition-id | first %}
	<p>{{ memberSerie.label }} {{ serieEdition.name }} - <a href="{{ memberSerie.url }}">{{ memberSerie.name }}</a></p>	
{% endfor %}

<hr />

<h2>Películas presentadas en Tantarantana</h2>
{% assign memberMovies = "" | split: "" %}

{% comment %} Part 1: Movies from series where member is owner AND movies don't use per-movie member-id {% endcomment %}
{% for memberSerie in memberSeries %}
    {% assign serieUsesPerMovieMember = false %}
    {% for movie in memberSerie.movies %}
        {% if movie.member-id %}
            {% assign serieUsesPerMovieMember = true %}
            {% break %}
        {% endif %}
    {% endfor %}
    
    {% unless serieUsesPerMovieMember %}
        {% assign memberMovies = memberMovies | concat: memberSerie.movies %}
    {% endunless %}
{% endfor %}

{% comment %} Part 2: Movies from ANY serie where this member is specified in the movie entry {% endcomment %}
{% for serie in site.series %}
    {% for movie in serie.movies %}
        {% if movie.member-id == page.object-id %}
            {% assign memberMovies = memberMovies | push: movie %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% assign memberMovies = memberMovies | sort: "name" %}

{% include movies_grid.html movies=memberMovies %}