---
layout: default
---

<div class="movie--filmaffinity">
	<img class="movie--filmaffinity__cover" src="{{ page.filmaffinity.cover }}">

	<dl class="movie--filmaffinity__details movie--table">
		<dt>Año</dt>
		<dd>{{page.year}}</dd>

		<dt>Director</dt>
		<dd>{{page.director}}</dd>

		<dt>País</dt>
		<dd>{{page.country}}</dd>		

		<dt>Reparto</dt>
		<dd>{{page.cast}}</dd>

		<dt>Sinopsis</dt>
		<dd>{{page.synopsis}}</dd>

		<dt><a href="{{ page.filmaffinity.url }}" target="_blank">Filmaffinity</a></dt>
		<dd></dd>
	</dl>

	
</div>


{% assign movieSerieIds = '' | split: '' %}

{% if page.serie-ids  %}
	{% assign movieSerieIds = page.serie-ids %}
{% else %}
	{% assign movieSerieIds = movieSerieIds | push: page.serie-id %}
{% endif %}	

{% assign movieSeries = site.series | where_exp:"item", "movieSerieIds contains item.object-id" %}

{% for movieSerie in movieSeries %}

	{% assign movieEdition = site.editions | where:"object-id", movieSerie.edition-id | first %}

	{% if movieSerie.member-id  %}
		{% assign movieMember = site.members | where:"object-id", movieSerie.member-id | first %}
	{% endif %}	

	

	<h2>Tantarantana <a href="{{ movieEdition.url }}">{{movieEdition.name}}</a></h2>

	<dl class="movie--tantarantana__details movie--table">
		<dt>Miembro Jurado</dt>
		<dd>
			{% if movieMember %}
				<a href="{{ movieMember.url }}">{{movieMember.label}}</a>
			{% else %}
				👻
			{% endif %}			
		</dd>

		<dt>Ciclo</dt>
		<dd><a href="{{ movieSerie.url }}">{{movieSerie.name}}</a></dd>

		{% if page.wix %}
			<dt><a href="{{ page.wix.post }}" target="_blank">Comentarios del jurado</a></dt>
			<dd></dd>
		{% endif %}
	</dl>



	{% assign movieAwards = '' | split: '' %}
	{% assign movieNominationsHtml = '' | split: '' %}
	{% for editionAward in movieEdition.awards %}
		{% for winner in editionAward.winners %}
			{% if winner.movie-id == page.object-id %}
				{% assign movieAwards = movieAwards | push: editionAward %}
			{% endif %}
		{% endfor %}

		{% for awardFinalist in editionAward.finalists %}
			{% if awardFinalist.movie-id == page.object-id %}
				{% capture movieNomationTitleHtml %}
					{% assign nominationAwardObject = site.awards | where:"object-id", editionAward.award-id | first %}
					<h3 class="movie--nomination__label">
						{{nominationAwardObject.label}}
					</h3>
					{% if awardFinalist.label %}
					<h4 class="movie--nomination__label">
						<a href="{{ page.url }}">
							{{ awardFinalist.label }}
						</a>
					</h4>
					{% endif %}
				{% endcapture %}
				{% assign movieNominationsHtml = movieNominationsHtml | push: movieNomationTitleHtml %}
			{% endif %}
		{% endfor %}
	{% endfor %}

	{% if movieAwards.size > 0 %}
		<h2>Palmarés <a href="{{ movieEdition.url }}">{{movieEdition.name}}</a></h2>
		{% for movieAward in movieAwards %}
			{% include award.html editionAward=movieAward showWinnerName=false showWinnerPhoto=false showFinalists=false %}
		{% endfor %}
	{% endif %}


	{% if movieNominationsHtml.size > 0 %}
		<h2>Nominaciones <a href="{{ movieEdition.url }}">{{movieEdition.name}}</a></h2>
		{% for movieNominationHtml in movieNominationsHtml %}
			{{ movieNominationHtml }}
		{% endfor %}
	{% endif %}

{% endfor %}