---
layout: default
---

{% assign edition = site.editions | where:"object-id", page.edition-id | first %}

<h2 class="serie__name">{{ page.name }}</h2>

{% if page.member-id %}
	{% assign member = site.members | where:"object-id", page.member-id | first %}

	<h3 class="serie__member"><a href="{{ member.url }}">{{ member.label }}</a></h3>
{% endif %}

<p class="serie__description">
	{{ page.description }}
</p>


<ul class="serie--movies tantarantana--grid">
	{% for movie in page.movies %}
		<li class="serie--movie tantarantana--grid-item">
			<a href="{{ movie.filmaffinity.url }}" target="_blank">
				<img class="serie--movie__cover" src="{{ movie.filmaffinity.cover }}">
			</a>	
			<div class="serie--movie--info">
				<em class="serie--movie--info__director"> {{ movie.director }} </em>
				<a class="serie--movie--info__name" href="{{ movie.filmaffinity.url }}" target="_blank"> {{ movie.name }} </a>
				<small class="serie--movie--info__year"> {{ movie.year }} </small>
			</div>				
		</li>
	{% endfor %}
</ul>

<ul class="tantarantana--menu serie--edition">
	{% assign edition = site.editions | where:"object-id", page.edition-id | first %}
	{% for editionSerie in edition.series %}
		<li class="tantarantana--menu--item serie--edition--serie {% if editionSerie.serie-id == page.object-id %} tantarantana--menu--item__current  serie--edition--serie__current {% endif %}">
			{% assign serie = site.series | where:"object-id", editionSerie.serie-id | first %}
			<a class="tantarantana--menu--link serie--edition--serie__link" href="{{ serie.url }}">{{ serie.label }}</a>
		</li>
	{% endfor %}
</ul>